# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
*.env

# Temporary and upload files
tmp_uploads/
*.tmp

# IDEs & System
.vscode/
.idea/
.DS_Store
node_modules/
dist/
